<p>
  <strong>Name: </strong>
  <%= @person.name %>
</p>
<p>
  <strong>Description: </strong>
  <%= @person.description %>
</p>

<%= link_to 'View List of People', people_path %><br>
<br>
<%= link_to 'Back to Index', root_path %>
